/* css styles */

/* thanks @yihui! https://yihui.org/en/2023/02/key-buttons/ */
kbd {
    border: 2px solid #ccc;
    box-shadow: 2px 2px #999;
    display: inline-block;
    padding: 0 5px;
    border-radius: 0.25em;
    min-width: 3em;
    text-align: center;
    vertical-align: middle;
    margin-right: .15em;
}

kbd:hover {
    position: relative;
    top: 2px;
    left: 2px;
}

kbd > div {
  font-size: x-small;
}

span.kbdcombo:hover > kbd {
    position: relative;
    top: 2px;
    left: 2px;
}

code.sourceCode.default {
  color: black;
  background-color: transparent;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-weight: semibold;
}

span.menu-text > img.img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: -0.1em;
}

.btn.progress-submit {
  border: 1px solid #000;
  background-color: #e69f00;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btn.progress-submit:hover {
  color: #000;
  background-color: #f0e442;
}

.btn.progress-submit.clicked {
  color: #fff;
  background-color: #359b73;
}

a.canvas {
  font-size: x-small;
}
